@font-face {
    font-family: "monstr thin";
    src: url(../assets/fonts/Montserrat-Thin.ttf);
}
@font-face {
    font-family: "monstr semi bold";
    src: url(../assets/fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: "monstr extra bold";
    src: url(../assets/fonts/Montserrat-ExtraBold.ttf);
}